<!-- Generated template for the ShareComponent component -->
<div class="imed-content">
  <div class="imed-card">
    <div class="imed-title imed-title-type">
      <span>分享有礼</span>
    </div>
    <div class="imed-menu">
      <div>
        <ion-grid>
          <ion-row>
            <ion-col class="gray">分享本页面至朋友圈，可领取价值69元的《人体解刨学彩色图谱》一本，名额有限，送完为止！</ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <ion-grid>
            <ion-row>
              <ion-col col-4 text-center>
                <img src="assets/imgs/cover6.png">
              </ion-col>
              <ion-col>
                <div style="font-size: larger;">人体解刨学彩色图谱</div>
                <div><s class="gray">600阅点</s></div>
                <div><span class="imed-red">0</span>阅点</div>
                <div style="display: flex; justify-content: space-between; align-items: baseline">
                  <div>
                    <span class="imed-red">累计销量1万+</span>
                  </div>
                  <button [disabled]="false" class="share-button" ion-button outline round small icon-start
                          color="danger">
                    <ion-icon name="md-share"></ion-icon>
                    立即分享领取
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</div>
