page-category {

  .category-content {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .menu-main {
    width: 25%;
    min-width: 6em;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    height: 100%;

    .menu-main-item {
      border: 1px solid #C6C5C5;
    }
  }

  .menu-main-content {
    width: 75%;
    padding: 1rem;

    .menu-main-sub {
      .menu-main-sub-title {
        margin: 1rem auto;
        width: 100%;
        text-align: center;
        color: $imed-red;
        background-color: #e9e9e9;
      }
      .menu-main-sub-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        button {
          flex-grow: 1
        }
      }
    }
  }

}

