<!--
  Generated template for the ProductInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>产品详情</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="imed-product-info">
    <div class="imed-product-info-thumbnails" text-center>
      <img [src]="item['cover']">
    </div>
    <div class="imed-product-info-detail">
      <div class="imed-list-item-title">{{item['name']}}</div>
      <div class="imed-list-item-label">
        <div>
          <div><span class="imed-red">{{item['price']}}</span>阅点({{cash()}}元)</div>
          <div><s>{{item['originPrice']}}</s>阅点</div>
        </div>
        <div>作者：
          <span *ngIf="item['author']; else elseAuthor">{{item['author']}}</span>
          <ng-template #elseAuthor>{{item['publisher']}}</ng-template>
        </div>
        <div class="imed-list-item-label-last">
          <div>图书类型：{{bookType()}}</div>
          <div>大小：{{item['size']}}M</div>
        </div>
        <div>&nbsp;</div>
      </div>

    </div>
  </div>


  <div *ngIf="item['briefIntroduction']">
    <div class="separator"></div>
    <div class="imed-product-brief">
      <div class="imed-product-brief-title">简介</div>
      <div [innerHTML]="item['briefIntroduction']|html"></div>
    </div>
  </div>

  <div *ngIf="item['catalog']">
    <div class="separator"></div>
    <div class="imed-product-brief">
      <div class="imed-product-brief-title">目录</div>
      <div [innerHTML]="item['catalog']|html"></div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <div class="imed-footer">
    <div color="danger" *ngIf="!item['owner']; else elseBlock" (click)="buy()">
      立即购买
    </div>
    <ng-template #elseBlock>
      <ng-container *ngIf="state=='remote'">
        <div color="danger" *ngIf="isPdf()||isTextBook()" (click)="download()">
          立即下载
        </div>
        <div color="danger" *ngIf="isTextBook()||isDisease()" (click)="readOnline()">
          在线阅读
        </div>
      </ng-container>
      <div color="danger" *ngIf="state=='local'" (click)="readLocal()">
        打开图书
      </div>
    </ng-template>
  </div>
</ion-footer>
