<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only color="imed-red" (click)="goToCategoryPage()">
        <ion-icon name="ios-menu-outline"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      <div>首页</div>
    </ion-title>

    <!--<ion-toolbar color="light">-->
    <!--<div class="imed-title-button" start>-->
    <!--<button class="imed-title-button-content">-->
    <!--<ion-icon name="ios-search"></ion-icon>-->
    <!--&nbsp;请输入关键词-->
    <!--</button>-->
    <!--</div>-->
    <!--</ion-toolbar>-->

    <ion-buttons end>
      <button ion-button icon-only color="imed-red" (click)="search()">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="正在请求数据"
    >
    </ion-refresher-content>
  </ion-refresher>
  <!--轮播图-->
  <div class="imed-slide">
    <ion-slides pager>
      <ion-slide>
        <div *ngFor="let item of carousel"
             (click)="locate({name:item['titleName'],type:'url',url:item['linkAddress']})">
          <img [src]="item['imagePath']">
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <!--顶部菜单-->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="top-menu">
          <div *ngFor="let item of topMenus[0]" class="top-menu-item" (click)="locate(item)">
            <div *ngIf="item.key=='year-all'" class="badge">即将开放</div>
            <div class="top-menu-icon top-menu-icon-{{item['icon-name']}}"></div>
            <div text-center class="top-menu-name">{{item['name']}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col col-12 class="top-menu" text-center>
          <div *ngFor="let item of topMenus[1]" class="top-menu-item" (click)="locate(item)">
            <div class="top-menu-icon top-menu-icon-{{item['icon-name']}}"></div>
            <div text-center class="top-menu-name">{{item['name']}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--轮播菜单-->
    <!--<div class="slide-bag" (pan)="panEvent($event)">-->
    <!--<div *ngFor="let item of slideBags" (click)="locate('info',item)">-->
    <!--<img src="assets/imgs/{{item['cover']}}">-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <div class="separator"></div>
  <!--住培通关包-->
  <div>
    <div class="home-card">
      <div class="home-card-title">
        <span class="home-card-title-text">精品推荐</span>
        <button ion-button icon-only clear color="nav"
                (click)="locateList({name: '精品推荐',type:'list',key:'recommend'})">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
      <div class="home-card-row">
        <ion-grid>
          <ion-row>
            <ion-col col-4
                     *ngFor="let item of topBags"
                     (click)="locateInfo(item)"
                     class="home-card-row-item">
              <img [src]="item['cover']">
              <!--<span>{{item['name']}}</span>-->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  <div class="separator"></div>
  <!--手术视频-->
  <div>
    <div class="home-card">
      <div class="home-card-title">
        <span class="home-card-title-text">手术视频</span>
        <button ion-button icon-only clear color="nav" (click)="openOperations()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
      <div class="home-card-row">
        <ion-grid>
          <ion-row *ngFor="let item of topOperation" (click)="openOperation(item)">
            <ion-col col-5 text-center>
              <img [src]="item['cover']">
            </ion-col>
            <ion-col col-7 class="operation-item">
              <div style="font-size: larger;">{{item['name']}}</div>
              <div>
                <div>
                  <span>{{item['author']}}</span>
                  <span>{{item['subjects']}}</span>
                </div>
                <div>
                  <span>
                    <span class="imed-red">{{item['price']}}</span>阅点
                  </span>
                  <span><s>{{item['originPrice']}}</s>阅点</span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  <div class="separator"></div>
  <!--疾病教程-->
  <div>
    <div class="home-card">
      <div class="home-card-title">
        <span class="home-card-title-text">疾病教程</span>
        <button ion-button icon-only clear color="nav"
                (click)="locateList({name: '疾病教程',type:'list',key:'disease'})">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
      <div class="home-card-row">
        <ion-grid>
          <ion-row>
            <ion-col col-4
                     *ngFor="let item of topDisease"
                     (click)="locateInfo(item)"
                     class="home-card-row-item">
              <img [src]="item['smallCover']">
              <!--<span>{{item['name']}}</span>-->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <!--西医图书-->
  <div>
    <div class="home-card">
      <div class="home-card-title">
        <span class="home-card-title-text">西医图书</span>
        <button ion-button icon-only clear color="nav"
                (click)="locateList({name: '西医图书',type:'list',key:'west-all'})">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
      <div class="home-card-row">
        <ion-grid>
          <ion-row>
            <ion-col col-4
                     *ngFor="let item of topWest"
                     (click)="locateInfo(item)"
                     class="home-card-row-item">
              <img [src]="item['cover']">
              <!--<span>{{item['name']}}</span>-->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
