<!--
  Generated template for the ProductPanelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>考试培训</ion-title>

  </ion-toolbar>

</ion-header>


<ion-content>
  <div><img src="assets/imgs/banner2019.png"></div>
  <div class="imed-content">
    <div class="imed-tab">
      <div class="new" text-center>2019年住陪通关包
      </div>
      <div class="old" text-center (click)="locate()">2018年住陪通关包</div>
    </div>
    <div class="imed-card">
      <div class="imed-title">
        <span class="imed-title-text">请选择专业</span>
        <button ion-button clear color="light" [small]="true" icon-end
                (click)="change()">
          更多专业
          <ion-icon [name]="expend?'arrow-dropdown-circle':'arrow-dropright-circle'"></ion-icon>
        </button>
      </div>
      <div class="imed-menu less" [ngClass]="{less:!expend}">
        <button *ngFor="let item of subject"
                class="subject"
                (click)="goToPage(item)"
                ion-button outline small
                [color]="item['key'] == subActiveKey?'imed-red':'nav'">{{item['name']}}
        </button>
      </div>
    </div>
  </div>

  <div class="imed-content">
    <div class="imed-card">
      <div class="imed-title imed-title-type">
        <span>请选择类型</span>
      </div>
      <div class="imed-menu">
        <div class="imed-menu-tab">
          <div class="skew" [ngClass]="{active:active==0}" (click)="switch(0)">
            <div class="fix">基础版</div>
          </div>
          <div class="skew-reverse" [ngClass]="{active:active==1}" (click)="switch(1)">
            <div class="fix">拓展版</div>
          </div>
        </div>
        <div>
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col col-3><img src="assets/imgs/left-rainbow.png"></ion-col>
              <ion-col col-5 text-center class="imed-red">{{contents[active].name}}</ion-col>
              <ion-col col-3><img src="assets/imgs/right-rainbow.png"></ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 1rem;">
              <ion-col class="gray">{{contents[active].introduce}}</ion-col>
            </ion-row>
            <ion-row justify-content-center style="margin-bottom: -1rem;">
              <ion-col col-3><img src="assets/imgs/left-rainbow.png"></ion-col>
              <ion-col col-4 text-center class="imed-red">学习内容</ion-col>
              <ion-col col-3><img src="assets/imgs/right-rainbow.png"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row *ngFor="let content of contents[active].items">
              <ion-col col-4 text-center>
                <img [src]="content['cover']">
              </ion-col>
              <ion-col class="imed-content-item">
                <div style="font-size: larger;">{{content['name']}}</div>
                <div>
                  <span class="gray">{{content['introduce']}}</span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                  <div style="display: inline-block">
                    <div><s class="gray">{{content['originalPrice']}}阅点</s></div>
                    <div><span class="imed-red">{{content['price']}}</span>阅点</div>
                  </div>
                  <div [ngSwitch]="own.includes(content['id'])">
                    <button *ngSwitchCase="true" [disabled]="!content['status']" ion-button outline round small
                            color="danger"
                            (click)="buy(content['id'])">马上学习
                    </button>
                    <button *ngSwitchDefault [disabled]="!content['status']" ion-button outline round small
                            color="danger"
                            (click)="buy(content['id'])">立即购买
                    </button>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>

  <div class="imed-content">
    <div class="imed-card">
      <div class="imed-title imed-title-type">
        <span>分享有礼</span>
      </div>
      <div class="imed-menu">
        <div>
          <ion-grid>
            <ion-row>
              <ion-col class="gray">分享本页面至朋友圈，可领取价值69元的《人体解刨学彩色图谱》一本，名额有限，送完为止！</ion-col>
            </ion-row>
          </ion-grid>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col col-4 text-center>
                  <img src="assets/imgs/cover6.png">
                </ion-col>
                <ion-col>
                  <div style="font-size: larger;">人体解刨学彩色图谱</div>
                  <div><s class="gray">600阅点</s></div>
                  <div><span class="imed-red">0</span>阅点</div>
                  <div style="display: flex; justify-content: space-between; align-items: baseline">
                    <div>
                      <span class="imed-red">累计销量1万+</span>
                    </div>
                    <button [disabled]="false" class="share-button" ion-button outline round small icon-start
                            color="danger">
                      <ion-icon name="md-share"></ion-icon>
                      立即分享领取
                    </button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
