page-product-panel {

  .content {
    background-color: #970B14;
  }

  .imed-content {
    padding: 1rem;
  }

  .imed-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: larger;
    font-weight: bolder;

    .new {
      width: 50%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background-color: #CD1020;
      padding: 1rem;
    }

    .old {
      width: 50%;
      background-color: #970B14;
      padding: 1rem;
    }
  }

  .imed-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imed-title {
      color: white;
      font-size: larger;
      background-color: #CD1020;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top-right-radius: 1rem;
      padding-left: 1rem;
    }

    .imed-title-type {
      border-top-left-radius: 1rem;
      padding: .5rem 1rem
    }
  }

  .imed-menu {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    button {
      width: 5.5em;
    }
  }

  .imed-menu-tab {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #CE1020;

    .active {
      color: white;
      background-color: #CE1020;
    }

    & > div {
      border: 1px solid #CE1020;
      padding: .5rem 3rem;

      &.skew {
        transform: skewX(45deg);
        div.fix {
          transform: skewX(-45deg);
        }
      }
      &.skew-reverse {
        transform: skewX(-45deg);
        div.fix {
          transform: skewX(45deg);
        }
      }
    }

  }

  .imed-rainbow {
    display: flex;
    justify-content: space-between;
  }

  .imed-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}
