<ion-content no-bounce>
  <ion-list>
    <div *ngFor="let item of items" class="imed-list-item" (click)="goToDetail(item)">
      <div style="max-width: 30%;">
        <img [src]="item['cover']" style="width: 100%;">
      </div>
      <div class="justify-content-around">
        <div>{{item['name']}}</div>
        <div class="imed-list-item-label">
          <div>
            <span><span class="imed-red">{{item['price']}}</span>阅点</span>
            <span><s>{{item['originPrice']}}</s>阅点</span>
          </div>
          <div>
            <span *ngIf="item['author']; else elseAuthor">作者：{{item['author']}}</span>
            <ng-template #elseAuthor>出版机构：{{item['publisher']}}</ng-template>
          </div>
          <div>图书类型：{{bookType(item['textbook'],item['textbookType'])}}</div>
          <div>大小：{{item['size']}}M</div>
          <div>&nbsp;</div>
        </div>
      </div>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
